$background-without-fill: #F2F2F2;
$background: #FFFFFF;

$font-color-bold: #0D0A19;
$font-family: "Inter", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$page-height: 100vh;
$page-width: 70vw;
$page-min-width: 1000px;