$background-without-fill: #F2F2F2;
$background: #FFFFFF;

$footer-links-background-color: #F5F6F7;
$footer-legal-background-color: #FFFFFF;

$button-fill-color: #7963F0;
$button-font-color: #FFFFFF;

$font-color-bold: #0D0A19;
$font-color-primary: #7963F0;
$font-color-secondary: #9A9EA7;
$font-family: "Inter", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$page-height: 100vh;
$page-width: 70vw;
$page-min-width: 1000px;

$list-divider-color: #EDE8E9